{%load static%}
<html>
<head>
 	<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Pacifico" rel="stylesheet"> 
	<title>StoreBerry</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{%static "css/styles.css"%}">
</head>
<body>
	<nav class="navbar">
		<h1>StoreBerry</h1>
		{%if request.user.is_authenticated%}
		<a href="">Tu perfil</a>
		<a href="{%url 'logout'%}">Cerrar Sesión</a>
		{%else%}
		<a href="{%url 'login'%}">Mi cuenta</a>
		<a href="{%url 'login'%}">¡Empieza a vender YA!</a>
		{%endif%}
		
	</nav>

	{% block content %}
	{% endblock content %}

</body>
</html>

